numpy
pandas
scipy
scikit-learn
xgboost
lightgbm
catboost
openpyxl
xlsxwriter
matplotlib
seaborn
plotly
streamlit
jupyter
ipywidgets
pytest
pylint
autopep8
rope
yapf
mypy
black
flake8
tqdm
joblib
itables