numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.5.2
xgboost==2.1.1
lightgbm==4.5.0
catboost==1.2.7
openpyxl==3.1.5
xlsxwriter==3.2.0
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.1
streamlit==1.38.0
jupyter==1.1.1
ipywidgets==8.1.5
pytest==8.3.3
pylint==3.3.1
autopep8==2.3.1
rope==1.13.0
yapf==0.40.2
mypy==1.11.2
black==24.8.0
flake8==7.1.1
tqdm==4.66.5
joblib==1.4.2
itables==2.2.1
